<h4>Edit {{course.name}}</h4>

<form action="/courses/{{course._id}}?_method=PUT" method="POST">
    <input class="form" type="text" name="name" required="required" placeholder="Name" value="{{course.name}}" />
    <input class="form" type="text" name="photo" placeholder="Photo" value="{{course.photo}}" />
    <input class="form" type="text" name="location" placeholder="Location" value="{{course.location}}" />
    <select class="form" name="difficulty" required="required" list="difficulty-options" placeholder="Difficulty"
        value="{{course.difficulty}}" />
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
    <option value="Pro">Pro</option>
    </select>

    <input class="form" type="submit" value="Save" />
</form>
<a href="/courses/{{course._id}}">
    <button>Back</button>
</a>
<a href="/">
    <button>Home</button>
</a>