<h4>{{user.name}} Check-In</h4>

<p>
    Course Name: <input class="form" type="text" name="name" required="required" placeholder="Name"
        value="{{course.name}}" />
</p>

<a href="/users/{{user._id}}/checkOut">
{{!-- <form action="/course/{{course._id}}/{{course.activePlayers}}" method="POST"> --}}
    <input class="form" type="submit" value="Start" />
{{!-- </form> --}}
</a>

<a href="/">
    <button>Home</button>
</a>