<h4>{{user.name}} Check-In</h4>
<form action="/courses/users/{{user._id}}/checkIn?_method=PUT" method="POST">
    Course Name:
    <select class="form" list="course-options" placeholder="Course" name="courseId"/>
        {{#each allCourses}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <input type="hidden" name="activePlayer" value="{{user._id}}" />

    {{!-- <a href="/users/{{user._id}}/checkOut"> --}}
        <input class="form" type="submit" value="Start" />
    {{!-- </a> --}}
</form>
<a href="/users/{{user._id}}">
    <button>Back</button>
</a>
<a href="/">
    <button>Home</button>
</a>