<h3>{{user.name}}</h3>

<p>{{user.photo}}</p>
<p>Ability: {{user.ability}}</p>
<p>Location: {{user.location}}</p>

<a href="/users/{{user._id}}/checkIn">
    <button>New Round</button>
</a>


<footer>
    <a href="/users/{{user._id}}/edit">
        <button>
            Edit Player
        </button>
    </a>

    <a href="/discs/">
        <button>Discs</button>
    </a>

    <form action="/users/{{user._id}}?_method=DELETE" method="POST">
        <input class="form" type="submit" value="Delete Player" />
    </form>
    <div class="spacer">
        <p> </p>
    </div>

    <a href="/users/">
        <button>Player List</button>
    </a>
    <a href="/">
        <button>Home</button>
    </a>
</footer>