<h3>{{user.name}}</h3>

<p>{{user.photo}}</p>
<p>Ability: {{user.ability}}</p>
<p>Location: {{user.location}}</p>

<a href="/users/{{user._id}}/edit">
    <button>
        Edit Player
    </button>
</a>

<form action="/users/{{user._id}}?_method=DELETE" method="POST">
    <input class="form" type="submit" value="Delete User" />
</form>

<a href="/discs/">
        <button>Discs</button>
    </a>

<footer>
    <a href="/users/">
        <button>Players</button>
    </a>
    <a href="/start/">
        <button>Home</button>
    </a>
</footer>